{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}
<form action="/results" method="POST">
    {% for i in row %}
    <ol>
        <h3 class="quiz-questions"><td>{{loop.index}}. {{item}}{{ i.question }}</h3>
            <p>
                <div class="quiz-options">
                    <input id="olivia" type="radio" name="{{ loop.index }}" value="olivia">
                    <label>{{ i.answer_one }}</label>
                    <input id="erykah" type="radio" name="{{ loop.index }}" value="erykah">
                    <label>{{ i.answer_two }}</label>
                    <input id="corey" type="radio" name="{{ loop.index }}" value="corey">
                    <label>{{ i.answer_three }}</label>
                    <input id="youngboy" type="radio" name="{{ loop.index }}" value="youngboy">
                    <label>{{ i.answer_four }}</label>
                    <input id="jacob" type="radio" name="{{ loop.index }}" value="jacob">
                    <label>{{ i.answer_five }}</label>
                    <input id="playboi" type="radio" name="{{ loop.index }}" value="playboi">
                    <label>{{ i.answer_six }}</label>
                </div>
            </p>
    </ol>
    {% endfor %}
    <br></br>
    <button type="submit">Done!</button>
</form>
{% endblock %}
